# Project 1: SAT & ACT Analysis

The first markdown cell in a notebook is a great place to provide an overview of your entire project. You will likely want to at least state your

## Problem Statement

Define the problem you are finding answers for from the data given.

## Executive Summary

If you want to, it's great to use relative links to direct your audience to various sections of a notebook. **HERE'S A DEMONSTRATION WITH THE CURRENT SECTION HEADERS**:

### Contents:
- [2017 Data Import & Cleaning](#Data-Import-and-Cleaning)
- [2018 Data Import and Cleaning](#2018-Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-data)
- [Descriptive and Inferential Statistics](#Descriptive-and-Inferential-Statistics)
- [Outside Research](#Outside-Research)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

**If you combine your problem statement, executive summary, data dictionary, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.** Don't forget to cite your data sources!

*All libraries used should be added here*

In [4]:
#Imports:
from IPython.display import HTML #if want to import the visualisation into the HTML file
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## 2017 Data Import and Cleaning

#### 1. Read In SAT & ACT  Data

Read in the `sat_2017.csv` and `act_2017.csv` files and assign them to appropriately named pandas dataframes.

In [23]:
# ufo = pd.read_csv('datasets/ufo.csv')
#Code:
sat_2017 =pd.read_csv("data/sat_2017.csv")

sat_2017

,State,Participation,Evidence-Based Reading and Writing,Math,Total
0,Alabama,5%,593,572,1165
1,Alaska,38%,547,533,1080
2,Arizona,30%,563,553,1116
3,Arkansas,3%,614,594,1208
4,California,53%,531,524,1055
5,Colorado,11%,606,595,1201
6,Connecticut,100%,530,512,1041
7,Delaware,100%,503,492,996
8,District of Columbia,100%,482,468,950
9,Florida,83%,520,497,1017
10,Georgia,61%,535,515,1050
11,Hawaii,55%,544,541,1085
12,Idaho,93%,513,493,1005
13,Illinois,9%,559,556,1115
14,Indiana,63%,542,532,1074
15,Iowa,2%,641,635,1275
16,Kansas,4%,632,628,1260
17,Kentucky,4%,631,616,1247
18,Louisiana,4%,611,586,1198
19,Maine,95%,513,499,1012
20,Maryland,69%,536,52,1060
21,Massachusetts,76%,555,551,1107
22,Michigan,100%,509,495,1005
23,Minnesota,3%,644,651,1295
24,Mississippi,2%,634,607,1242
25,Missouri,3%,640,631,1271
26,Montana,10%,605,591,1196
27,Nebraska,3%,629,625,1253
28,Nevada,26%,563,553,1116
29,New Hampshire,96%,532,520,1052
30,New Jersey,70%,530,526,1056
31,New Mexico,11%,577,561,1138
32,New York,67%,528,523,1052
33,North Carolina,49%,546,535,1081
34,North Dakota,2%,635,621,1256
35,Ohio,12%,578,570,1149
36,Oklahoma,7%,530,517,1047
37,Oregon,43%,560,548,1108
38,Pennsylvania,65%,540,531,1071
39,Rhode Island,71%,539,524,1062
40,South Carolina,50%,543,521,1064
41,South Dakota,3%,612,603,1216
42,Tennessee,5%,623,604,1228
43,Texas,62%,513,507,1020
44,Utah,3%,624,614,1238
45,Vermont,60%,562,551,1114
46,Virginia,65%,561,541,1102
47,Washington,64%,541,534,1075
48,West Virginia,14%,558,528,1086
49,Wisconsin,3%,642,649,1291
50,Wyoming,3%,626,604,1230

In [27]:
#cleaning the data
#df['result'] = df['result'].str.replace(r'\D', '').astype(int)
#s.str.lstrip('123.')
sat_2017["Participation"]=sat_2017["Participation"].str.replace("%","").astype(int)
sat_2017

,State,Participation,Evidence-Based Reading and Writing,Math,Total
0,Alabama,5,593,572,1165
1,Alaska,38,547,533,1080
2,Arizona,30,563,553,1116
3,Arkansas,3,614,594,1208
4,California,53,531,524,1055
5,Colorado,11,606,595,1201
6,Connecticut,100,530,512,1041
7,Delaware,100,503,492,996
8,District of Columbia,100,482,468,950
9,Florida,83,520,497,1017
10,Georgia,61,535,515,1050
11,Hawaii,55,544,541,1085
12,Idaho,93,513,493,1005
13,Illinois,9,559,556,1115
14,Indiana,63,542,532,1074
15,Iowa,2,641,635,1275
16,Kansas,4,632,628,1260
17,Kentucky,4,631,616,1247
18,Louisiana,4,611,586,1198
19,Maine,95,513,499,1012
20,Maryland,69,536,52,1060
21,Massachusetts,76,555,551,1107
22,Michigan,100,509,495,1005
23,Minnesota,3,644,651,1295
24,Mississippi,2,634,607,1242
25,Missouri,3,640,631,1271
26,Montana,10,605,591,1196
27,Nebraska,3,629,625,1253
28,Nevada,26,563,553,1116
29,New Hampshire,96,532,520,1052
30,New Jersey,70,530,526,1056
31,New Mexico,11,577,561,1138
32,New York,67,528,523,1052
33,North Carolina,49,546,535,1081
34,North Dakota,2,635,621,1256
35,Ohio,12,578,570,1149
36,Oklahoma,7,530,517,1047
37,Oregon,43,560,548,1108
38,Pennsylvania,65,540,531,1071
39,Rhode Island,71,539,524,1062
40,South Carolina,50,543,521,1064
41,South Dakota,3,612,603,1216
42,Tennessee,5,623,604,1228
43,Texas,62,513,507,1020
44,Utah,3,624,614,1238
45,Vermont,60,562,551,1114
46,Virginia,65,561,541,1102
47,Washington,64,541,534,1075
48,West Virginia,14,558,528,1086
49,Wisconsin,3,642,649,1291
50,Wyoming,3,626,604,1230

In [42]:
sat_2017.dtypes

State                                 object
Participation                          int32
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object

In [31]:
sat_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               51 non-null     object
 1   Participation                       51 non-null     int32
 2   Evidence-Based Reading and Writing  51 non-null     int64
 3   Math                                51 non-null     int64
 4   Total                               51 non-null     int64
dtypes: int32(1), int64(3), object(1)
memory usage: 1.9+ KB

In [33]:
sat_2018=pd.read_csv("data/sat_2018.csv")
sat_2018

,State,Participation,Evidence-Based Reading and Writing,Math,Total
0,Alabama,6%,595,571,1166
1,Alaska,43%,562,544,1106
2,Arizona,29%,577,572,1149
3,Arkansas,5%,592,576,1169
4,California,60%,540,536,1076
5,Colorado,100%,519,506,1025
6,Connecticut,100%,535,519,1053
7,Delaware,100%,505,492,998
8,District of Columbia,92%,497,480,977
9,Florida,56%,550,549,1099
10,Georgia,70%,542,522,1064
11,Hawaii,56%,480,530,1010
12,Idaho,100%,508,493,1001
13,Illinois,99%,513,506,1019
14,Indiana,63%,542,532,1074
15,Iowa,3%,634,631,1265
16,Kansas,4%,633,631,1265
17,Kentucky,4%,630,618,1248
18,Louisiana,4%,615,595,1210
19,Maine,99%,512,501,1013
20,Maryland,76%,545,535,1080
21,Massachusetts,80%,562,563,1125
22,Michigan,100%,511,499,1011
23,Minnesota,4%,643,655,1298
24,Mississippi,3%,630,606,1236
25,Missouri,4%,633,629,1262
26,Montana,10%,606,592,1198
27,Nebraska,3%,629,623,1252
28,Nevada,23%,574,566,1140
29,New Hampshire,96%,535,528,1063
30,New Jersey,82%,547,547,1094
31,New Mexico,16%,552,540,1093
32,New York,79%,534,534,1068
33,North Carolina,52%,554,543,1098
34,North Dakota,2%,640,643,1283
35,Oklahoma,8%,541,521,1062
36,Ohio,18%,552,547,1099
37,Oregon,48%,564,553,1117
38,Pennsylvania,70%,547,539,1086
39,Rhode Island,97%,513,505,1018
40,South Carolina,55%,547,523,1070
41,South Dakota,3%,622,618,1240
42,Tennessee,6%,624,607,1231
43,Texas,66%,520,512,1032
44,Utah,4%,480,530,1010
45,Vermont,64%,565,554,1120
46,Virginia,68%,567,550,1117
47,Washington,69%,543,538,1081
48,West Virginia,28%,513,486,999
49,Wisconsin,3%,641,653,1294
50,Wyoming,3%,633,625,1257

In [34]:
sat_2018["Participation"]=sat_2018["Participation"].str.replace("%","").astype(int)
sat_2018

,State,Participation,Evidence-Based Reading and Writing,Math,Total
0,Alabama,6,595,571,1166
1,Alaska,43,562,544,1106
2,Arizona,29,577,572,1149
3,Arkansas,5,592,576,1169
4,California,60,540,536,1076
5,Colorado,100,519,506,1025
6,Connecticut,100,535,519,1053
7,Delaware,100,505,492,998
8,District of Columbia,92,497,480,977
9,Florida,56,550,549,1099
10,Georgia,70,542,522,1064
11,Hawaii,56,480,530,1010
12,Idaho,100,508,493,1001
13,Illinois,99,513,506,1019
14,Indiana,63,542,532,1074
15,Iowa,3,634,631,1265
16,Kansas,4,633,631,1265
17,Kentucky,4,630,618,1248
18,Louisiana,4,615,595,1210
19,Maine,99,512,501,1013
20,Maryland,76,545,535,1080
21,Massachusetts,80,562,563,1125
22,Michigan,100,511,499,1011
23,Minnesota,4,643,655,1298
24,Mississippi,3,630,606,1236
25,Missouri,4,633,629,1262
26,Montana,10,606,592,1198
27,Nebraska,3,629,623,1252
28,Nevada,23,574,566,1140
29,New Hampshire,96,535,528,1063
30,New Jersey,82,547,547,1094
31,New Mexico,16,552,540,1093
32,New York,79,534,534,1068
33,North Carolina,52,554,543,1098
34,North Dakota,2,640,643,1283
35,Oklahoma,8,541,521,1062
36,Ohio,18,552,547,1099
37,Oregon,48,564,553,1117
38,Pennsylvania,70,547,539,1086
39,Rhode Island,97,513,505,1018
40,South Carolina,55,547,523,1070
41,South Dakota,3,622,618,1240
42,Tennessee,6,624,607,1231
43,Texas,66,520,512,1032
44,Utah,4,480,530,1010
45,Vermont,64,565,554,1120
46,Virginia,68,567,550,1117
47,Washington,69,543,538,1081
48,West Virginia,28,513,486,999
49,Wisconsin,3,641,653,1294
50,Wyoming,3,633,625,1257

In [36]:
act_2017=pd.read_csv("data/act_2017.csv")
act_2017

,State,Participation,English,Math,Reading,Science,Composite
0,National,60%,20.3,20.7,21.4,21.0,21.0
1,Alabama,100%,18.9,18.4,19.7,19.4,19.2
2,Alaska,65%,18.7,19.8,20.4,19.9,19.8
3,Arizona,62%,18.6,19.8,20.1,19.8,19.7
4,Arkansas,100%,18.9,19.0,19.7,19.5,19.4
5,California,31%,22.5,22.7,23.1,22.2,22.8
6,Colorado,100%,20.1,20.3,21.2,20.9,20.8
7,Connecticut,31%,25.5,24.6,25.6,24.6,25.2
8,Delaware,18%,24.1,23.4,24.8,23.6,24.1
9,District of Columbia,32%,24.4,23.5,24.9,23.5,24.2
10,Florida,73%,19.0,19.4,21.0,19.4,19.8
11,Georgia,55%,21.0,20.9,22.0,21.3,21.4
12,Hawaii,90%,17.8,19.2,19.2,19.3,19.0
13,Idaho,38%,21.9,21.8,23.0,22.1,22.3
14,Illinois,93%,21.0,21.2,21.6,21.3,21.4
15,Indiana,35%,22.0,22.4,23.2,22.3,22.6
16,Iowa,67%,21.2,21.3,22.6,22.1,21.9
17,Kansas,73%,21.1,21.3,22.3,21.7,21.7
18,Kentucky,100%,19.6,19.4,20.5,20.1,20.0
19,Louisiana,100%,19.4,18.8,19.8,19.6,19.5
20,Maine,8%,24.2,24.0,24.8,23.7,24.3
21,Maryland,28%,23.3,23.1,24.2,2.3,23.6
22,Massachusetts,29%,25.4,25.3,25.9,24.7,25.4
23,Michigan,29%,24.1,23.7,24.5,23.8,24.1
24,Minnesota,100%,20.4,21.5,21.8,21.6,21.5
25,Mississippi,100%,18.2,18.1,18.8,18.8,18.6
26,Missouri,100%,19.8,19.9,20.8,20.5,20.4
27,Montana,100%,19.0,20.2,21.0,20.5,20.3
28,Nebraska,84%,20.9,20.9,21.9,21.5,21.4
29,Nevada,100%,16.3,18.0,18.1,18.2,17.8
30,New Hampshire,18%,25.4,25.1,26.0,24.9,25.5
31,New Jersey,34%,23.8,23.8,24.1,23.2,23.9
32,New Mexico,66%,18.6,19.4,20.4,20.0,19.7
33,New York,31%,23.8,24.0,24.6,23.9,24.2
34,North Carolina,100%,17.8,19.3,19.6,19.3,19.1
35,North Dakota,98%,19.0,20.4,20.5,20.6,20.3
36,Ohio,75%,21.2,21.6,22.5,22.0,22.0
37,Oklahoma,100%,18.5,18.8,20.1,19.6,19.4
38,Oregon,40%,21.2,21.5,22.4,21.7,21.8
39,Pennsylvania,23%,23.4,23.4,24.2,23.3,23.7
40,Rhode Island,21%,24.0,23.3,24.7,23.4,24.0
41,South Carolina,100%,17.5,18.6,19.1,18.9,18.7
42,South Dakota,80%,20.7,21.5,22.3,22.0,21.8
43,Tennessee,100%,19.5,19.2,20.1,19.9,19.8
44,Texas,45%,19.5,20.7,21.1,20.9,20.7
45,Utah,100%,19.5,19.9,20.8,20.6,20.3
46,Vermont,29%,23.3,23.1,24.4,23.2,23.6
47,Virginia,29%,23.5,23.3,24.6,23.5,23.8
48,Washington,29%,20.9,21.9,22.1,22.0,21.9
49,West Virginia,69%,20.0,19.4,21.2,20.5,20.4
50,Wisconsin,100%,19.7,20.4,20.6,20.9,20.5
51,Wyoming,100%,19.4,19.8,20.8,20.6,20.2x

In [37]:
act_2017["Participation"]=act_2017["Participation"].str.replace("%","").astype(int)
act_2017

,State,Participation,English,Math,Reading,Science,Composite
0,National,60,20.3,20.7,21.4,21.0,21.0
1,Alabama,100,18.9,18.4,19.7,19.4,19.2
2,Alaska,65,18.7,19.8,20.4,19.9,19.8
3,Arizona,62,18.6,19.8,20.1,19.8,19.7
4,Arkansas,100,18.9,19.0,19.7,19.5,19.4
5,California,31,22.5,22.7,23.1,22.2,22.8
6,Colorado,100,20.1,20.3,21.2,20.9,20.8
7,Connecticut,31,25.5,24.6,25.6,24.6,25.2
8,Delaware,18,24.1,23.4,24.8,23.6,24.1
9,District of Columbia,32,24.4,23.5,24.9,23.5,24.2
10,Florida,73,19.0,19.4,21.0,19.4,19.8
11,Georgia,55,21.0,20.9,22.0,21.3,21.4
12,Hawaii,90,17.8,19.2,19.2,19.3,19.0
13,Idaho,38,21.9,21.8,23.0,22.1,22.3
14,Illinois,93,21.0,21.2,21.6,21.3,21.4
15,Indiana,35,22.0,22.4,23.2,22.3,22.6
16,Iowa,67,21.2,21.3,22.6,22.1,21.9
17,Kansas,73,21.1,21.3,22.3,21.7,21.7
18,Kentucky,100,19.6,19.4,20.5,20.1,20.0
19,Louisiana,100,19.4,18.8,19.8,19.6,19.5
20,Maine,8,24.2,24.0,24.8,23.7,24.3
21,Maryland,28,23.3,23.1,24.2,2.3,23.6
22,Massachusetts,29,25.4,25.3,25.9,24.7,25.4
23,Michigan,29,24.1,23.7,24.5,23.8,24.1
24,Minnesota,100,20.4,21.5,21.8,21.6,21.5
25,Mississippi,100,18.2,18.1,18.8,18.8,18.6
26,Missouri,100,19.8,19.9,20.8,20.5,20.4
27,Montana,100,19.0,20.2,21.0,20.5,20.3
28,Nebraska,84,20.9,20.9,21.9,21.5,21.4
29,Nevada,100,16.3,18.0,18.1,18.2,17.8
30,New Hampshire,18,25.4,25.1,26.0,24.9,25.5
31,New Jersey,34,23.8,23.8,24.1,23.2,23.9
32,New Mexico,66,18.6,19.4,20.4,20.0,19.7
33,New York,31,23.8,24.0,24.6,23.9,24.2
34,North Carolina,100,17.8,19.3,19.6,19.3,19.1
35,North Dakota,98,19.0,20.4,20.5,20.6,20.3
36,Ohio,75,21.2,21.6,22.5,22.0,22.0
37,Oklahoma,100,18.5,18.8,20.1,19.6,19.4
38,Oregon,40,21.2,21.5,22.4,21.7,21.8
39,Pennsylvania,23,23.4,23.4,24.2,23.3,23.7
40,Rhode Island,21,24.0,23.3,24.7,23.4,24.0
41,South Carolina,100,17.5,18.6,19.1,18.9,18.7
42,South Dakota,80,20.7,21.5,22.3,22.0,21.8
43,Tennessee,100,19.5,19.2,20.1,19.9,19.8
44,Texas,45,19.5,20.7,21.1,20.9,20.7
45,Utah,100,19.5,19.9,20.8,20.6,20.3
46,Vermont,29,23.3,23.1,24.4,23.2,23.6
47,Virginia,29,23.5,23.3,24.6,23.5,23.8
48,Washington,29,20.9,21.9,22.1,22.0,21.9
49,West Virginia,69,20.0,19.4,21.2,20.5,20.4
50,Wisconsin,100,19.7,20.4,20.6,20.9,20.5
51,Wyoming,100,19.4,19.8,20.8,20.6,20.2x

In [39]:
#df.loc[df['Population(B)'] &lt; 1] = 0
act_2017.loc[act_2017["Wyoming"] & []] = 20.2
act_2017

ValueError: Arrays were different lengths: 52 vs 1

In [59]:
act_2018=pd.read_csv("data/act_2018_updated.csv")
act_2018

,State,Percentage of Students Tested,Average Composite Score,Average English Score,Average Math Score,Average Reading Score,Average Science Score
0,Alabama,100,19.1,18.9,18.3,19.6,19.0
1,Alaska,33,20.8,19.8,20.6,21.6,20.7
2,Arizona,66,19.2,18.2,19.4,19.5,19.2
3,Arkansas,100,19.4,19.1,18.9,19.7,19.4
4,California,27,22.7,22.5,22.5,23.0,22.1
5,Colorado,30,23.9,23.9,23.2,24.4,23.5
6,Connecticut,26,25.6,26.0,24.8,26.1,24.9
7,Delaware,17,23.2,23.7,23.1,24.5,23.4
8,District of Columbia,32,23.6,23.7,22.7,24.4,23.0
9,Florida,66,19.9,19.2,19.3,21.1,19.5
10,Georgia,53,21.4,20.9,20.7,21.2,21.4
11,Hawaii,89,18.9,18.2,19.0,19.1,19.0
12,Idaho,36,22.3,21.9,21.6,23.2,22.1
13,Illinois,43,23.9,24.1,23.4,24.2,23.4
14,Indiana,32,22.5,21.9,22.3,23.1,22.2
15,Iowa,68,21.8,21.0,21.2,22.5,22.0
16,Kansas,71,21.6,21.0,21.1,22.3,21.5
17,Kentucky,100,20.2,19.9,19.7,20.8,20.1
18,Louisiana,100,19.2,19.0,18.5,19.6,19.1
19,Maine,7,24.0,23.8,23.6,24.7,23.4
20,Maryland,31,22.5,22.1,22.0,23.1,22.2
21,Massachusetts,25,25.5,25.5,25.2,25.9,24.7
22,Michigan,22,24.4,24.5,23.9,24.7,23.9
23,Minnesota,99,21.3,20.2,21.4,21.7,21.4
24,Mississippi,100,18.6,18.2,18.1,18.9,18.6
25,Missouri,100,20.0,19.5,19.7,20.5,20.0
26,Montana,100,20.0,18.7,19.9,20.7,20.0
27,Nebraska,100,20.1,19.4,19.8,20.4,20.1
28,Nevada,100,17.7,16.6,17.8,18.0,17.9
29,New Hampshire,16,25.1,25.1,24.7,25.6,24.4
30,New Jersey,31,23.7,23.8,23.6,24.0,23.0
31,New Mexico,67,19.4,18.3,19.1,20.1,19.7
32,New York,27,24.5,24.2,24.2,24.9,24.2
33,North Carolina,100,19.1,18.0,19.3,19.5,19.2
34,North Dakota,98,20.3,19.1,20.3,20.7,20.5
35,Ohio,100,20.3,19.3,20.3,20.8,20.4
36,Oklahoma,100,19.3,18.4,18.8,20.1,19.4
37,Oregon,42,21.3,20.6,20.9,21.9,21.1
38,Pennsylvania,20,23.5,23.3,23.2,24.0,23.1
39,Rhode Island,15,24.2,24.4,23.6,25.0,23.5
40,South Carolina,100,18.3,17.3,18.2,18.6,18.5
41,South Dakota,77,21.9,20.8,21.6,22.4,22.2
42,Tennessee,100,19.6,19.4,19.1,19.9,19.6
43,Texas,41,20.6,19.6,20.6,21.1,20.8
44,Utah,100,20.4,19.7,19.9,20.9,20.5
45,Vermont,24,24.1,23.9,23.4,24.9,23.8
46,Virginia,24,23.9,23.8,23.3,24.7,23.5
47,Washington,24,22.2,21.4,22.2,22.7,22.0
48,West Virginia,65,20.3,19.8,19.4,21.3,20.4
49,Wisconsin,100,20.5,19.8,20.3,20.6,20.8
50,Wyoming,100,20.0,19.0,19.7,20.6,20.3

#### 2. Display Data

Print the first 10 rows of each dataframe to your jupyter notebook

In [51]:
#Code:
print(sat_2017.head(10),sat_2018.head(10),act_2017.head(10),act_2018.head(10))

                  State Participation  Evidence-Based Reading and Writing  \
0               Alabama            5%                                 593
1                Alaska           38%                                 547
2               Arizona           30%                                 563
3              Arkansas            3%                                 614
4            California           53%                                 531
5              Colorado           11%                                 606
6           Connecticut          100%                                 530
7              Delaware          100%                                 503
8  District of Columbia          100%                                 482
9               Florida           83%                                 520

   Math  Total
0   572   1165
1   533   1080
2   553   1116
3   594   1208
4   524   1055
5   595   1201
6   512   1041
7   492    996
8   468    950
9   497   1017                     State Participation  Evidence-Based Reading and Writing  \
0               Alabama            6%                                 595
1                Alaska           43%                                 562
2               Arizona           29%                                 577
3              Arkansas            5%                                 592
4            California           60%                                 540
5              Colorado          100%                                 519
6           Connecticut          100%                                 535
7              Delaware          100%                                 505
8  District of Columbia           92%                                 497
9               Florida           56%                                 550

   Math  Total
0   571   1166
1   544   1106
2   572   1149
3   576   1169
4   536   1076
5   506   1025
6   519   1053
7   492    998
8   480    977
9   549   1099                     State Participation  English  Math  Reading  Science  \
0              National           60%     20.3  20.7     21.4     21.0
1               Alabama          100%     18.9  18.4     19.7     19.4
2                Alaska           65%     18.7  19.8     20.4     19.9
3               Arizona           62%     18.6  19.8     20.1     19.8
4              Arkansas          100%     18.9  19.0     19.7     19.5
5            California           31%     22.5  22.7     23.1     22.2
6              Colorado          100%     20.1  20.3     21.2     20.9
7           Connecticut           31%     25.5  24.6     25.6     24.6
8              Delaware           18%     24.1  23.4     24.8     23.6
9  District of Columbia           32%     24.4  23.5     24.9     23.5

  Composite
0      21.0
1      19.2
2      19.8
3      19.7
4      19.4
5      22.8
6      20.8
7      25.2
8      24.1
9      24.2                     State  Percentage of Students Tested  \
0               Alabama                            100
1                Alaska                             33
2               Arizona                             66
3              Arkansas                            100
4            California                             27
5              Colorado                             30
6           Connecticut                             26
7              Delaware                             17
8  District of Columbia                             32
9               Florida                             66

   Average Composite Score  Average English Score  Average Math Score  \
0                     19.1                   18.9                18.3
1                     20.8                   19.8                20.6
2                     19.2                   18.2                19.4
3                     19.4                   19.1                18.9
4                     22.7                   22.5                22.5
5                     23.9                   23.9                23.2
6                     25.6                   26.0                24.8
7                     23.2                   23.7                23.1
8                     23.6                   23.7                22.7
9                     19.9                   19.2                19.3

   Average Reading Score  Average Science Score
0                   19.6                   19.0
1                   21.6                   20.7
2                   19.5                   19.2
3                   19.7                   19.4
4                   23.0                   22.1
5                   24.4                   23.5
6                   26.1                   24.9
7                   24.5                   23.4
8                   24.4                   23.0
9                   21.1                   19.5

#### 3. Verbally Describe Data

Take your time looking through the data and thoroughly describe the data in the markdown cell below.

Answer:

#### 4a. Does the data look complete?

Answer:

#### 4b. Are there any obvious issues with the observations?

**What is the minimum *possible* value for each test/subtest? What is the maximum *possible* value?**

Consider comparing any questionable values to the sources of your data:
- [SAT](https://blog.collegevine.com/here-are-the-average-sat-scores-by-state/)
- [ACT](https://blog.prepscholar.com/act-scores-by-state-averages-highs-and-lows)

Answer:

#### 4c. Fix any errors you identified

**The data is available** so there's no need to guess or calculate anything. If you didn't find any errors, continue to the next step.

In [ ]:
#code

#### 5. What are your data types? 
Display the data types of each feature.

In [ ]:
#code

What did you learn?
- Do any of them seem odd?  
- Which ones are not as they should be?

Answer:

#### 6. Fix Incorrect Data Types
Based on what you discovered above, use appropriate methods to re-type incorrectly typed data.
- Define a function that will allow you to convert participation rates to an appropriate numeric type. Use `map` or `apply` to change these columns in each dataframe.

In [ ]:
#code

- Fix any individual values preventing other columns from being the appropriate type.

In [1]:
#code

- Finish your data modifications by making sure the columns are now typed appropriately.

In [2]:
#code

- Display the data types again to confirm they are correct.

In [ ]:
#Code:

#### 7. Rename Columns
Change the names of the columns to more expressive names so that you can tell the difference the SAT columns and the ACT columns. Your solution should map all column names being changed at once (no repeated singular name-changes). **We will be combining these data with some of the data from 2018, and so you should name columns in an appropriate way**.

**Guidelines**:
- Column names should be all lowercase (you will thank yourself when you start pushing data to SQL later in the course)
- Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`.
- Column names should be unique and informative (the only feature that we actually share between dataframes is the state).

In [ ]:
#code

#### 8. Create a data dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

|Feature|Type|Dataset|Description|
|---|---|---|---|
|column name|int/float/object|ACT/SAT|This is an example|

#### 9. Drop unnecessary rows

One of our dataframes contains an extra row. Identify and remove this from the dataframe.

In [3]:
#code

#### 10. Merge Dataframes

Join the 2017 ACT and SAT dataframes using the state in each dataframe as the key. Assign this to a new variable.

In [ ]:
#Code:

#### 11. Save your cleaned, merged dataframe

Use a relative path to save out your data as `combined_2017.csv`.

In [7]:
#code

## 2018 Data Import and Cleaning

Links to the 2018 ACT and SAT data are provided in the README. These data live in PDFs, and so you'll get to enjoy practicing some *manual* data collection. Save these data as a CSV in your `data` directory, and import, explore, and clean these data in the same way you did above. **Make sure you comment on your steps so it is clear *why* you are doing each process**.

#### Combine your 2017 and 2018 data into a single dataframe
Joining on state names should work, assuming you formatted all your state names identically. Make sure none of your columns (other than state) have identical names. Do yourself a favor and decide if you're encoding participation rates as floats or integers and standardize this across your datasets.

Save the contents of this merged dataframe as `final.csv`.

**Use this combined dataframe for the remainder of the project**.

## Exploratory Data Analysis


### Summary Statistics
Transpose the output of pandas `describe` method to create a quick overview of each numeric feature.

In [ ]:
#Code:

#### Manually calculate standard deviation

$$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

- Write a function to calculate standard deviation using the formula above

In [4]:
#code

- Use a **dictionary comprehension** to apply your standard deviation function to each numeric column in the dataframe.  **No loops**  
- Assign the output to variable `sd` as a dictionary where: 
    - Each column name is now a key 
    - That standard deviation of the column is the value 
     
*Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`

In [ ]:
#Code:

Do your manually calculated standard deviations match up with the output from pandas `describe`? What about numpy's `std` method?

Answer

#### Investigate trends in the data
Using sorting and/or masking (along with the `.head` method to not print our entire dataframe), consider the following questions:

- Which states have the highest and lowest participation rates for the:
    - 2017 SAT?
    - 2018 SAT?
    - 2017 ACT?
    - 2018 ACT?
- Which states have the highest and lowest mean total/composite scores for the:
    - 2017 SAT?
    - 2018 SAT?
    - 2017 ACT?
    - 2018 ACT?
- Do any states with 100% participation on a given test have a rate change year-to-year?
- Do any states show have >50% participation on *both* tests either year?

Based on what you've just observed, have you identified any states that you're especially interested in? **Make a note of these and state *why* you think they're interesting**.

**You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [2]:
#code

## Visualize the data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers.

Some recommendations on plotting:
- Plots have titles
- Plots have axis labels
- Plots have appropriate tick labels
- All text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Plots are interpreted to aid understanding

There is such a thing as too many plots, and there are a *lot* of bad plots. You might make some! (But hopefully not with the guided prompts below).

#### Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features

Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).

*example*:
```python
sns.heatmap(df.corr())
```

Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).

#### Define a custom function to subplot histograms

We have data for two tests for two years. We only have composite (and not subtest scores) for the 2018 ACT. We should write a function that will take the names of 2+ columns and subplot histograms. While you can use pandas plotting or Seaborn here, matplotlib gives you greater control over all aspects of your plots.

[Helpful Link for Plotting Multiple Figures](https://matplotlib.org/users/pyplot_tutorial.html#working-with-multiple-figures-and-axes)

Here's some starter code:

In [ ]:
def subplot_histograms(dataframe, list_of_columns, list_of_titles, list_of_xlabels):
    nrows = int(np.ceil(len(list_of_columns)/2)) # Makes sure you have enough rows
    fig, ax = plt.subplots(nrows=nrows, ncols=2) # You'll want to specify your figsize
    ax = ax.ravel() # Ravel turns a matrix into a vector, which is easier to iterate
    for i, column in enumerate(list_of_columns): # Gives us an index value to get into all our lists
        ax[i].hist(dataframe[column]) # feel free to add more settings
        # Set titles, labels, etc here for each subplot

#### Plot and interpret histograms 
For each of the following:
- Participation rates for SAT & ACT
- Math scores for SAT & ACT
- Reading/verbal scores for SAT & ACT

In [ ]:
# Code

#### Plot and interpret scatter plots

For each of the following:
- SAT vs. ACT math scores for 2017
- SAT vs. ACT verbal/reading scores for 2017
- SAT vs. ACT total/composite scores for 2017
- Total scores for SAT 2017 vs. 2018
- Composite scores for ACT 2017 vs. 2018

Plot the two variables against each other using matplotlib or Seaborn

Your plots should show:
- Two clearly labeled axes
- A proper title
- Using colors and symbols that are clear and unmistakable

**Feel free to write a custom function, and subplot if you'd like.** Functions save both time and space.

In [ ]:
# Code

#### Plot and interpret boxplots

For each numeric variable in the dataframe create a boxplot using Seaborn. Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.

Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).

Each boxplot should:
- Only include variables of a similar scale
- Have clear labels for each variable
- Have appropriate titles and labels

In [ ]:
# Code

#### Feel free to do additional plots below
*(do research and choose your own chart types & variables)*

Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

#### (Optional): Using Tableau, create a choropleth map for each variable using a map of the US. 

Save this plot as an image file in an images directory, provide a relative path, and insert the image into notebook in markdown.

## Descriptive and Inferential Statistics

#### Summarizing Distributions

Above, we used pandas `describe` to provide quick summary statistics of our numeric columns. We also demonstrated many visual relationships.

As data scientists, having a complete understanding of data is imperative prior to modeling.

While we will continue to build our analytic tools, we know that measures of *central tendency*, *spread*, and *shape/skewness* provide a quick summary of distributions.

For each variable in your data, summarize the underlying distributions (in words & statistics)
 - Be thorough in your verbal description of these distributions.
 - Be sure to back up these summaries with statistics.

Answers:


#### Distributions in the data

In this dataset, each data represents a sample from a population.                        
For example, for ACT math test:
- Population: the test results of all the students who take this test, nation-wide.
- Population mean: is the national average of ACT math test (total scores/total no. of test takers) 
- Sample: the state means of ACT math test. We have 51 samples (51 states)

***According to CLT, we generally assuming that data we sample from a population will be normally distributed. Do we observe this trend?***

Answer:

Does This Assumption Hold for:
    - Math
    - Reading
    - Rates
Explain your answers for each distribution and how you think this will affect estimates made from these data.

Answer:

#### Estimate Limits of Data

Suppose we only seek to understand the relationship between SAT and ACT participation rates in 2017. 

##### Does it make sense to conduct statistical inference given these data specifically? 

Why or why not?

*(think about granularity, aggregation, the relationships between populations size & rates...consider the actually populations these data describe in answering this question)*

Answer:

##### Is it appropriate to compare *these* specific SAT and ACT math scores  - can we say students with higher SAT math score is better than those with lower ACT math score, or vice versa?

Why or why not?

Answer:

#### Statistical Evaluation of Distributions 

**If you feel it's appropriate**, using methods we discussed in class, run hypothesis tests to compare variables of interest in our dataset.

In [ ]:
# Code:

## Outside Research

Based upon your observations, choose **three** states that demonstrate interesting trends in their SAT and/or ACT participation rates. Spend some time doing outside research on state policies that might influence these rates, and summarize your findings below. **Feel free to go back and create new plots that highlight these states of interest**. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. (Make sure that you cite your sources -- check with you local instructor for citation preferences).

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Choose one state with a lower participation rate and provide a suggestion for how the College Board might increase participation amongst graduating seniors in this state. Are there additional data you desire that would better inform your investigations?